.upcoming {
	width: 30%;

	.seperator {
		margin-left: 10%;
		margin-bottom: 5%;
		margin-top: 5%;
		width: 80%;
		height: 2px;
		border-radius: 5px;
		background-color: white;
	}
	.flight-details {
		background-color: rgb(56, 56, 56);
		border-radius: 20px;
		padding: 10px;
		margin: 10px;

		div {
			padding: 5px;
			display: flex;
			justify-content: space-around;
			display: flex;
			flex-direction: column;
		}
	}
}
